<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand fs-25 fw-600 color-fff color-red-hvr" href="index.html#"> Fenko</a>
      <div class="bars z-index-1" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="first d-block bg-fff mb-6px transition-5"></span>
        <span class="second d-block bg-fff mb-6px transition-5"></span>
        <span class="third d-block bg-fff mb-6px transition-5"></span>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="index.html#">
              Home
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item fs-14" href="index.html">demo-1</a>
                <a class="dropdown-item fs-14" href="demo-2.html">demo-2</a>
                <a class="dropdown-item fs-14" href="demo-3.html">demo-3</a>
                <a class="dropdown-item fs-14" href="demo-4.html">demo-4</a>
                <a class="dropdown-item fs-14" href="demo-5.html">demo-5</a>
                <a class="dropdown-item fs-14" href="demo-6.html">demo-6</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="index.html#">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item fs-14" href="about-me-page.html">About  Me</a>
                <a class="dropdown-item fs-14" href="about-us-page.html">About Us</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="index.html#">
              Single Portfolio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item fs-14" href="single-portfolio-1.html">Single Portfolio 1</a>
                <a class="dropdown-item fs-14" href="single-portfolio-2.html">Single Portfolio 2</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="single-blog.html">Blog</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="contact-page.html">Contact</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>