<section class="sec-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-50px-sm">
            <h2>No lo piense mas e inicie su nuevo proyecto con nosotros</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="">
            <h2 class="mb-20px">¡Hablemos!</h2>
            <p class="mb-10px"><i class="fa fa-envelope mr-15px"></i>contacto@quimera-it.com</p>
            <p class="mb-30px"><i class="fa fa-map-marker mr-15px"></i>Pereira - Risaralda, Colombia</p>
            <a href="#" class="color-333 color-red-hvr mr-10px"><i class="fa fa-facebook"></i> </a>
            <a href="#" class="color-333 color-red-hvr mr-10px"><i class="fa fa-twitter"></i> </a>
            <a href="#" class="color-333 color-red-hvr mr-10px"><i class="fa fa-linkedin"></i> </a>
            <a href="#" class="color-333 color-red-hvr mr-10px"><i class="fa fa-behance"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sm-padding bg-red">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="#" class="d-inline-block color-fff color-333-hvr mr-15px mb-10px-sm">Contacto</a>

          </div>
          <div class="col-md-6 text-right">
            <p class="mt-5px mb-0px color-eee fw-500">© 2019 Desarrollado por  <strong class="color-fff fw-600">{{ desarrollador }}</strong> </p>
          </div>
        </div>
      </div>
    </div>