  <section class="sec-padding bg-222">
		  <div class="container">
			  <div class="row">
				  <div class="col-md-6">
					  <div class="mb-50px-sm">
						  <h2 class="color-fff fw-400">inicie su nuevo proyecto con nosotros</h2>
					  </div>
				  </div>
				  <div class="col-md-5 offset-md-1">
					  <div class="">
						  <h3 class="color-fff">Hablemos</h3>
						  <p class="color-ddd big-p"><i class="fa fa-envelope mr-15px color-red"></i>contacto@quimera-it.com</p>
						  <p class="mb-20px color-ddd big-p"><i class="fa fa-map-marker mr-15px color-red"></i>Pereira - Risaralda, Colombia</p>
						  <a target="_blank" href="https://www.facebook.com/quimeracolombia/" class="color-fff color-red-hvr mr-10px"><i class="fa fa-facebook"></i> </a>
						  <a target="_blank" href="https://www.instagram.com/quimerait/" class="color-fff color-red-hvr mr-10px"><i class="fa fa-instagram"></i> </a>
						  <a target="_blank" href="https://www.linkedin.com/company/quimeraweb/" class="color-fff color-red-hvr mr-10px"><i class="fa fa-linkedin"></i> </a>
					  </div>
				  </div>
			  </div>
		  </div>
	  </section>



  <div class="sm-padding bg-red">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
				<a href="/" class="d-inline-block color-fff color-333-hvr mr-15px mb-10px-sm">Inicio</a>

				<a routerLink="nosotros" class="d-inline-block color-fff color-333-hvr mr-15px mb-10px-sm">Quienes somos</a>
 
            <a routerLink="contacto" class="d-inline-block color-fff color-333-hvr mr-15px mb-10px-sm">Contacto</a>

          </div>
          <div class="col-md-6 text-right">
            <p class="mt-5px mb-0px color-eee fw-500">© 2019 Desarrollado por  <strong class="color-fff fw-600">{{ desarrollador }}</strong> </p>
          </div>
        </div>
      </div>
    </div>