
      <div class="load-wrapp">
          <div class="wrap">
              <ul class="dots-box">
                <li class="dot"><span></span></li>
                <li class="dot"><span></span></li>
                <li class="dot"><span></span></li>
                <li class="dot"><span></span></li>
                <li class="dot"><span></span></li>
              </ul>
          </div>
      </div> 

      <div class="social-icon-fixed-footer z-index-20">
          <a href="demo-6.html#" class="color-fff color-red-hvr mr-15px"><i class="fa fa-facebook"></i> </a>
          <a href="demo-6.html#" class="color-fff color-red-hvr mr-15px"><i class="fa fa-twitter"></i> </a>
          <a href="demo-6.html#" class="color-fff color-red-hvr mr-15px"><i class="fa fa-linkedin"></i> </a>
          <a href="demo-6.html#" class="color-fff color-red-hvr"><i class="fa fa-behance"></i> </a>
      </div>

      <div class="swiper-vertical swiper-container w-100 h-100">
          <div class="swiper-wrapper">
              <div class="swiper-slide flex-center overlay-bg-65"  style="background-image: url('assets/images/show-9.jpeg'); background-position: center;"> 
                  <div class="container h-100 flex-left">
                      <div>
                          <h6 class="color-red fw-600 mb-15px"><span class="d-inline-block line mr-10px bg-blue"></span> Branding</h6>
                          <h4 class="color-fff fw-500 mb-20px">Creativity is intelligence</h4>
                          <p class="color-aaa mb-30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
                          <a class="main-btn btn-3" href="demo-6.html#0">View Project</a>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide flex-center overlay-bg-80"  style="background-image: url('assets/images/dani-ramos-500976-unsplash.jpg'); background-position: center right;"> 
                  <div class="container h-100 flex-left">
                      <div>
                          <h6 class="color-red fw-600 mb-15px"><span class="d-inline-block line mr-10px bg-blue"></span>Photography</h6>
                          <h4 class="color-fff fw-500 mb-20px">Creativity is intelligence</h4>
                          <p class="color-aaa mb-30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
                          <a class="main-btn btn-3" href="demo-6.html#0">View Project</a>
                      </div>  
                  </div>
              </div>
              <div class="swiper-slide flex-center overlay-bg-80"  style="background-image: url('assets/images/main-back.jpg'); background-position: center right;"> 
                  <div class="container h-100 flex-left">
                      <div>
                          <h6 class="color-red fw-600 mb-15px"><span class="d-inline-block line mr-10px bg-blue"></span>Illustrator</h6>
                          <h4 class="color-fff fw-500 mb-20px">Creativity is intelligence</h4>
                          <p class="color-bbb mb-30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
                          <a class="main-btn btn-3" href="demo-6.html#0">View Project</a>
                      </div>	  
                  </div>
              </div>
              <div class="swiper-slide flex-center overlay-bg-80"  style="background-image: url('assets/images/show-14.jpg'); background-position: center right;"> 
                  <div class="container h-100 flex-left">
                      <div>
                          <h6 class="color-red fw-600 mb-15px"><span class="d-inline-block line mr-10px bg-blue"></span>Branding</h6>
                          <h4 class="color-fff fw-500 mb-20px">Creativity is intelligence</h4>
                          <p class="color-aaa mb-30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod <br>tempor incididunt ut labore et dolore magna aliqua.</p>
                          <a class="main-btn btn-3" href="demo-6.html#0">View Project</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="swiper-pagination"></div>
      </div>