<section class="intro-area">
        <div class="overlay-bg-60 sec-padding flex-center"> 
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="">
                            <h1 class="mt-20px mb-20px color-fff cd-headline clip">
                                <span class="fw-100">Somos  </span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible color-fff fw-500">quimera</b>
                                    <b class="color-fff fw-500">Elegancia</b>
                                    <b class="color-fff fw-500">Flexibilidad</b>
                                    <b class="color-fff fw-500">Buen gusto</b>

                                </span>
                            </h1>
                            <p class="color-bbb">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a class="main-btn btn-3 mt-35px" href="">Ver mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>








    <section class="work-area-3 sec-padding bg-111" data-scroll-index="2">
        <div class="container">
            <h1 class="title-h fw-200 mb-10px color-fff">Algo de nuestro <span class="fw-600 color-red">Trabajo</span>
            </h1>
            <p class="title-p color-aaa">Algunas muestras de nuestro diseño y desarrollo web
            </p>
            <div class="row">
                <!-- filter links -->
                <div class="filtering col-sm-12 text-center">
                    <span data-filter='*' class="active  mb-10px mr-15px fw-400 radius-25px color-fff">Todo</span>
                    <span data-filter='.Ecommerce' class="mb-10px mr-15px fw-400 radius-25px color-fff" id="branding-button">Ecommerce</span>
                    <span data-filter='.one-page' class="mb-10px mr-15px fw-400 radius-25px color-fff">One Page</span>
                    <span data-filter='.medida' class="mb-10px fw-400 radius-25px color-fff">Diseño a medida</span>
                </div>
                <!-- grid -->
                <div class="grid  width-100">
                    <!-- gallery item -->
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/show-1.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Boucherie Christian houle</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida one-page mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/port-3.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Vista Web</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">One page a medida</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida one-page mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/port-4.jpg" alt="image" class="w-100">    
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Divergente Studio</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">One page a medida</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/show-2.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Su Seguro Facil</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/show-3.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Clinique Diane Lapointe</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/show-4.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Restaurant Le Reggiano</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items Ecommerce mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/show-5.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Super 40 antistress</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Ecommerce</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items Ecommerce mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/show-6.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Beny Monty</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Ecommerce</span>
                                    <span class="color-ddd fw-400 fs-14 d-block mb-20px">sed do eiusmod ut tempor incididunt labore dolore</span>
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="welcome-slider text-left" data-scroll-index="1">   
            <div class="container-fluid">
                <div class="owl-carousel owl-theme">
                        <div class="item" style="background-image: url('assets/images/entrada.jpg'); background-position: right;">
                            <div class="overlay-bg-0 footer-padding">
                                <div class="flex-center">
                                    <div class="">
                                        <h1 class="color-fff fw-500 big-title mb-20px">Llevamos tu proyecto hasta la cima</h1>
                                        <p class="color-bbb">Con elegancia, flexibilidad y buen gusto. </p>
                                        <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                        <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="item" style="background-image: url('assets/images/show-9.jpg'); background-position: right;">
                        <div class="overlay-bg-0 footer-padding">
                            <div class="flex-center">
                                <div class="">
                                    <h1 class="color-fff fw-500 big-title mb-20px">Diseño y desarrollo web</h1>
                                    <p class="color-bbb">Nuestro  equipo de profesionales llevarán la creación, gestión y mantenimiento de tu página web, con un diseño a medida. </p>
                                    <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                    <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url('assets/images/back-1.jpg'); background-position: left;">
                        <div class="overlay-bg-0 footer-padding">
                            <div class="flex-center">
                                <div class="">
                                    <h1 class="color-fff fw-500 big-title mb-20px">Correo corporativo</h1>
                                    <p class="color-bbb">Un dominio es su identidad en internet, Un hosting es  espacio en un servidor para poder alojar su pagina web.</p>
                                    <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                    <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>                
                    <div class="item" style="background-image: url('assets/images/back-3.jpg');">
                        <div class="overlay-bg-0 footer-padding">
                            <div class="flex-center">
                                <div class="">
                                    <h1 class="color-fff fw-500 big-title mb-20px">SEO</h1>
                                    <p class="color-bbb">La optimización de la conversión es uno de los aspectos fundamentales de un proceso de posicionamiento web.</p>
                                    <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                    <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background-image: url('assets/images/social-media.jpg');">
                        <div class="overlay-bg-0 footer-padding">
                            <div class="flex-center">
                                <div class="">
                                    <h1 class="color-fff fw-500 big-title mb-20px">Social media</h1>
                                    <p class="color-bbb"> redes sociales son tus principales aliadas para ofrecer tus productos o servicios y dar a conocer tu marca o empresa.</p>
                                    <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                    <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>                
                    <div class="item" style="background-image: url('assets/images/hosting-dominio.jpg'); background-position: left;">
                        <div class="overlay-bg-0 footer-padding">
                            <div class="flex-center">
                                <div class="">
                                    <h1 class="color-fff fw-500 big-title mb-20px">Hosting y dominio</h1>
                                    <p class="color-bbb">Un dominio es su identidad en internet, Un hosting es  espacio en un servidor para poder alojar su pagina web.</p>
                                    <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                    <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="item" style="background-image: url('assets/images/fotografia.jpg'); background-position: left;">
                        <div class="overlay-bg-0 footer-padding">
                            <div class="flex-center">
                                <div class="">
                                    <h1 class="color-fff fw-500 big-title mb-20px">Fotografía</h1>
                                    <p class="color-bbb">Usando técnicas y equipos de gama alta, junto a profesionales fotógrafos que garanticen resultados de calidad.</p>
                                    <!--<a href="" class="main-btn btn-3 mt-40px mr-10px">Mas información</a>-->
                                    <a routerLink="contacto" class="main-btn btn-2 mt-10px">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
    
    
                </div>   
            </div>
        </section> 



    <div class="scroll-top-btn text-center">
        <i class="fa fa-angle-up fs-20 color-fff bg-333 bg-blue-hvr radius-50"></i>          
    </div>
