<section class="work-area-3 sec-padding bg-111" data-scroll-index="2">
        <div class="container">
            <h1 class="title-h fw-200 mb-10px color-fff">Algo de nuestro <span class="fw-600 color-red">Trabajo</span>
            </h1>
       
            <div class="row">
                <!-- filter links -->
                <div class="filtering col-sm-12 text-center">
                    <span data-filter='*' class="active  mb-10px mr-15px fw-400 radius-25px color-fff">Todo</span>
                    <span data-filter='.Ecommerce' class="mb-10px mr-15px fw-400 radius-25px color-fff" id="branding-button">Ecommerce</span>
                    <span data-filter='.one-page' class="mb-10px mr-15px fw-400 radius-25px color-fff">One Page</span>
                    <span data-filter='.medida' class="mb-10px fw-400 radius-25px color-fff">Diseño a medida</span>
                </div>
                <!-- grid -->
                <div class="grid  width-100">
                    <!-- gallery item -->
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/boucherie-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Boucherie Christian houle</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    
                                    <a target="_blank" href="http://www.boucheriechristianhoule.ca/" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida one-page mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/vistaweb-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Vista Web</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">One page a medida</span>
                                    
                                    <a href="https://vistaweb.ca/" target="blank" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida one-page mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/divergente-portafolio.jpg" alt="image" class="w-100">    
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Divergente Studio</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">One page a medida</span>
                                    
                                    <a target="_blank" href="http://divergentestudio.com" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/suseguro-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Su Seguro Facil</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    
                                    <a target="_blank" href="http://www.susegurofacil.com/" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/diane-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Clinique Diane Lapointe</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    
                                    <a target="_blank" href="http://www.cliniquedianelapointe.ca/" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items medida mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/reggiano-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Restaurant Le Reggiano</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Diseño a medida</span>
                                    
                                    <a href="http://www.lereggiano.com/" target="_blank" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items Ecommerce mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/s40-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Super 40 antistress</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Ecommerce</span>
                                    
                                    <a href="" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items Ecommerce mt-40px">
                        <div class="work-image p-relative radius-5px o-hidden">
                            <img src="assets/images/BENY-portafolio.jpg" alt="image" class="w-100">
                            <div class="overlay-bg-80 p-absolute transition-2 flex-bottom">
                                <div class="p-15px z-index-20">
                                    <h6 class="transition-5 fw-600 mb-0px color-fff">Beny Monty</h6>
                                    <span class="color-999  fs-14 mb-10px d-block">Ecommerce</span>
                                    
                                    <a target="_blank" href="https://www.benyonline.com/" class="z-index-20">
                                        <i class="fa fa-long-arrow-right text-center color-fff color-fff-hvr bg-red-hvr radius-50 fs-15"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    