<section class="work-area sec-padding">
    <div class="container">
        <h1 class="title-h fw-200 mb-10px nuestro"> Nuestro <span class="fw-600 color-red">Trabajo</span>
        </h1>



        <div class="row">

<img src="assets/images/portafoliohero.jpg" alt="">

            <!-- grid -
            <div class="grid  width-100">-->
               





                <div *ngFor="let portafolio of infoService.portafolio"  class="col-md-4 items  mt-40px animated rollIn">
                    <div  class="work-image p-relative radius-5px o-hidden">
                        <img [src]="portafolio.url_imagen" alt="image">
                        <div class="overlay-bg p-absolute transition-2 flex-bottom">
                            <a [href]="portafolio.url_web" class="z-index-20">
                                <i class="fa fa-long-arrow-right text-center p-absolute color-fff color-fff-hvr bg-red-hvr radius-50"></i>
                            </a>
                            <div class="p-15px z-index-20">
                                <h6 class="transition-5 fw-600 mb-0px color-eee">{{ portafolio.nombre }}</h6>
                                <p class="color-ddd">{{ portafolio.clase }}</p>
                            </div>
                        </div> 
                    </div>
                </div>


                

         <!--   </div>-->
        </div>
    </div>
</section>