<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="403519563525476"
  theme_color="#211f20"
  logged_in_greeting="¡Hola! como podemos ayudarte?"
  logged_out_greeting="¡Hola! como podemos ayudarte?">
</div>

<section class="contact-intro">
    <div class="overlay-bg-40 sec-padding flex-center"> 
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="animated fadeInUp">
              <h1 class="mb-20px color-fff">Manos a la obra
              </h1>
              <h5 class="fw-400 color-red mb-20px">contáctenos!</h5>
              <a href = "{{ servicio.info.facebook }}" class="color-fff color-red-hvr mr-15px"><i class="fa fa-facebook"></i> </a>
              <a href = "{{ servicio.info.instagram }}" class="color-fff color-red-hvr mr-15px"><i class="fa fa-instagram"></i> </a>
              <a href = "{{ servicio.info.linkedin }}" class="color-fff color-red-hvr mr-15px"><i class="fa fa-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-area sec-padding">
      <div class="container">
    <h1 class="title-h fw-300 mb-10px">Inicie su proyecto con   <span class="fw-600 color-red">nosotros      </span>
    </h1>
    <p class="title-p">
    </p>
    <div class="row">
      <div class="col-md-6">
        <div class="address">		
          <p class="mb-30px"><i class="color-red bg-f4f4f4 radius-50 fs-30 mr-10px text-center icon-map"></i>Pereira - Risaralda, Colombia</p>
        </div>
        <div class="address">					
          <p class="mb-30px"><i class="color-red bg-f4f4f4 radius-50 fs-30 mr-10px text-center icon-phone"></i>+57 320 676 9369</p>
        </div>
        <div class="address">	
          <p class="mb-30px"><i class="color-red bg-f4f4f4 radius-50 fs-30 mr-10px text-center icon-envelope"></i>contacto@quimera-it.com</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-form">
          <form class="form" id="contact-form" >
            <div class="messages"></div>
            <div class="controls">
              <div class="row"> 
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="form_name" class="form-control" type="text" name="Nombre" placeholder="Nombre"  required="required" data-error="Campo obligatorio">
                    <div class="help-block with-errors color-orange"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="form_email" class="form-control" type="email" name="email" placeholder="Email" required="required" data-error="Campo obligatorio">
                  <div class="help-block with-errors color-orange"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input id="form_subject" class="form-control" type="text" name="Asunto" placeholder="Asunto">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea id="form_message" class="form-control" name="message" placeholder="Mensaje" rows="6" required="required" data-error="Mensaje."></textarea>
                    <div class="help-block with-errors color-orange"></div>
                  </div>
                </div>
                <div class="col-md-12">
                  <input type="submit" value="Enviar Mensaje" class="main-btn btn-3 color-fff radius-50px bg-red color-red-hvr">
                </div>
              </div>
            </div>
          </form>    
        </div>
      </div>
    </div>
      </div>   
  </section>

 