<section class="about-area-2 text-center">
    <div class="overlay-bg-70 sec-padding flex-center"> 
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="">
              <h1 class="mb-20px color-fff">Sobre nosotros
              </h1>
              <p class="color-bbb mb-30px">la mejor opción para planear, desarrollar y ejecutar proyectos web que van desde el diseño del sitio web, pasando por el desarrollo de soluciones a la medida y llegando hasta el desarrollo completo de estrategias de marketing digital que logren los objetivos planteados por nuestros clientes.</p>
              <a target="_blank" href="https://www.facebook.com/quimeracolombia/" class="color-fff color-red-hvr mr-10px"><i class="fa fa-facebook"></i> </a>
						  <a target="_blank" href="https://www.instagram.com/quimerait/" class="color-fff color-red-hvr mr-10px"><i class="fa fa-instagram"></i> </a>
						  <a target="_blank" href="https://www.linkedin.com/company/quimeraweb/" class="color-fff color-red-hvr mr-10px"><i class="fa fa-linkedin"></i> </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="sec-padding">
		  <div class="container">
			  <div class="row"> 
				  <div class="col-md-6">
					  <div class="mb-50px-sm">
						  <img alt="img" src="assets/images/back-3.jpg" class="w-100">
					  </div>
				  </div>
				  <div class="col-md-6">
					  <span class="fs-18 color-red fw-500">Soluciones de alta calidad</span>
					  <h3 class="fw-600 mt-10px mb-15px"> Bienvenido al lugar de la creatividad.</h3>
					  <p class="mb-15px">Porque no basta con lanzar una web para que los clientes lleguen a ella, es necesario además de una buena plataforma online, una buena estrategia de posicionamiento.</p>
					  <p class="mb-30px">Somos apasionados del marketing online y por eso no solo pensamos en desarrollar la web de acuerdo a un patrón estético, si no que buscamos webs que se puedan posicionar correctamente en buscadores y sean rentables en el menor tiempo posible.</p>
					 </div>
			  </div>
		  </div>
    </section>


<!--    	  
	  <section class="video-area text-center">
        <div class="overlay-bg-80 sec-padding">
          <div class="container">
            <a class="d-inline-block" href="https://www.youtube.com/watch?v=PkkV1vLHUvQ" data-lity>
              <i class="fa fa-play d-inline-block fs-20 bg-blue color-fff transition-2 pl-3px radius-50 text-center color-blue-hvr bg-fff-hvr mr-5px"></i>
            </a>
            <span class="color-red fs-16 fw-400">Watch Video</span>
            <h5 class="color-eee mt-20px">Know More About Us</h5>
          </div>
        </div>
      </section>
    -->



        <section class="team-area sec-padding text-center">
          <div class="container">
            <h1 class="title-h fw-200 mb-10px">
              Nuestro <span class="fw-600">Equipo</span>
            </h1>
            <p class="title-p fs-15 color-666">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="row">
              <div class="col-md-4">
                <div class="mb-50px-sm team-single">
                  <div class="team-image d-inline-block o-hidden p-relative">
                    <img alt="img" src="assets/images/team-1.jpg" class="ml-auto mr-auto transition-4">
                    <div class="overlay-bg p-absolute transition-3">
                      <div class="p-absolute">
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-facebook"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-twitter"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-instagram"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto" href=""><i class="fa fa-behance"></i> </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="fw-40 mt-20px mb-5px">Joan Hernandez</h5>  
                  <span class="color-red fs-15">Desarrollador web</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-50px-sm team-single">
                  <div class="team-image d-inline-block o-hidden p-relative">
                    <img alt="img" src="assets/images/team-3.jpg" class="ml-auto mr-auto transition-4">
                    <div class="overlay-bg p-absolute transition-3">
                      <div class="p-absolute">
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-facebook"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-twitter"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-instagram"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto" href=""><i class="fa fa-behance"></i> </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="fw-40 mt-20px mb-5px">Manuel Vargas</h5>  
                  <span class="color-red fs-15">Desarollador web</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-single">
                  <div class="team-image d-inline-block o-hidden p-relative">
                    <img alt="img" src="assets/images/team-2.jpg" class="ml-auto mr-auto transition-4">
                    <div class="overlay-bg p-absolute transition-3">
                      <div class="p-absolute">
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-facebook"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-twitter"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-instagram"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto" href=""><i class="fa fa-behance"></i> </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="fw-40 mt-20px mb-5px">Juan Lopez</h5>  
                  <span class="color-red fs-15">Diseñador</span>
                </div>
              </div>
            </div>
            <div class="row equipo-fila2">
              <div class="col-md-4">
                <div class="mb-50px-sm team-single">
                  <div class="team-image d-inline-block o-hidden p-relative">
                    <img alt="img" src="assets/images/team-1.jpg" class="ml-auto mr-auto transition-4">
                    <div class="overlay-bg p-absolute transition-3">
                      <div class="p-absolute">
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-facebook"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-twitter"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-instagram"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto" href=""><i class="fa fa-behance"></i> </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="fw-40 mt-20px mb-5px">Melissa Ochoa</h5>  
                  <span class="color-red fs-15">Desarrollador web</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-50px-sm team-single">
                  <div class="team-image d-inline-block o-hidden p-relative">
                    <img alt="img" src="assets/images/team-3.jpg" class="ml-auto mr-auto transition-4">
                    <div class="overlay-bg p-absolute transition-3">
                      <div class="p-absolute">
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-facebook"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-twitter"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-instagram"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto" href=""><i class="fa fa-behance"></i> </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="fw-40 mt-20px mb-5px">Brandon Reyes</h5>  
                  <span class="color-red fs-15">Desarollador web</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-single">
                  <div class="team-image d-inline-block o-hidden p-relative">
                    <img alt="img" src="assets/images/team-2.jpg" class="ml-auto mr-auto transition-4">
                    <div class="overlay-bg p-absolute transition-3">
                      <div class="p-absolute">
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-facebook"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-twitter"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto mb-5px" href=""><i class="fa fa-instagram"></i> </a>
                        <a class="color-fff color-fff-hvr bg-blue-hvr radius-50px d-block fs-18 ml-auto mr-auto" href=""><i class="fa fa-behance"></i> </a>
                      </div>
                    </div>
                  </div>
                  <h5 class="fw-40 mt-20px mb-5px">Karen Mejia</h5>  
                  <span class="color-red fs-15">Diseñador</span>
                </div>
              </div>
            </div>            
          </div>
        </section>



          <section class="services-area sec-padding text-center bg-f4f4f4">
              <div class="container">
                <h1 class="title-h fw-200 mb-10px">
                  Nuestros <span class="fw-600">Servicios</span>
                </h1>
                <p class="title-p fs-15 color-666">Desarrollo de sitios web a medida | Tiendas en linea | Sistema de gestión de bases de datos | Hosting | Dominio | Email corporativo | Social media.
                </p>
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-50px-sm">
                      <i class="icon-tools fs-45 mb-20px"></i>
                      <h5 class="fw-600">Branding</h5>
                      <p>Potenciamos tu marca para que llegue a todos los rincones.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-50px-sm">
                      <i class="icon-camera fs-45 mb-20px"></i>
                      <h5 class="fw-600">fotografía y social media marketing</h5>
                      <p>La clave de todos los conceptos está en que el Social Media Marketing se refiere a la creación estratégica de un nuevo canal de comunicación con la audiencia 100% digital.</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div>
                      <i class="icon-strategy fs-45 mb-20px"></i>
                      <h5 class="fw-600">Diseño Ui & Ux </h5>
                      <p>Construimos tu Web con las mejores practicas y con una User Interface (UI) y User Experience (UX) impecable.</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>






              <section class="brands-area text-center footer-padding bg-f4f4f4">
                  <div class="container">
                  <div class="row">
                    <div class="col-sm-4 col-md-2 mb-50px-sm">
                      <img alt="brand" src="assets/images/brand-1.png" class="transition-3"> 
                    </div>
                    <div class="col-sm-4 col-md-2 mb-50px-sm">
                      <img alt="brand" src="assets/images/brand-2.png" class="transition-3"> 
                    </div>
                    <div class="col-sm-4 col-md-2 mb-50px-sm">
                      <img alt="brand" src="assets/images/brand-6.png" class="transition-3"> 
                    </div>
                    <div class="col-sm-4 col-md-2 mb-50px-xs">
                      <img alt="brand" src="assets/images/brand-5.png" class="transition-3"> 
                    </div>
                    <div class="col-sm-4 col-md-2 mb-50px-xs">
                      <img alt="brand" src="assets/images/brand-7.png" class="transition-3"> 
                    </div>
                    <div class="col-sm-4 col-md-2 ">
                      <img alt="brand" src="assets/images/brand-3.png" class="transition-3"> 
                    </div>
                 </div>
                </div>
              </section>